In [1]:
print("hello")

hello

## INTRODUCTION DAY ONE

In [1]:
50+30

80

In [2]:
0/1

0.0

In [5]:
print(14//3) #floor dividion

4

In [7]:
print(14/3) #float division

4.666666666666667

In [11]:
print(3**100) #power operator in python

515377520732011331036461129765621272702107522001

In [20]:
print(3+4)

7

In [22]:
print(0+5)

5

In [23]:
print(5-5)

0

In [24]:
print(6-4)

2

In [25]:
print(9*5)

45

In [26]:
print(89*5)

445

In [27]:
print(5/5)

1.0

In [28]:
print(0/1)

0.0

In [29]:
print("OM")

OM

In [38]:
a= "om"
b="Darkunde"

In [35]:
f'{a}'

'om'

In [41]:
f'{a} {b}'

'om Darkunde'

In [44]:
print(a+" "+b)

om Darkunde

In [45]:
print(a,b)

om Darkunde

In [52]:
print("om "*2) #multiplication used to get the number of times

om om

In [53]:
print("om" * 2.0 )#can not multiply by the float

TypeError: can't multiply sequence by non-int of type 'float'