> # loop 
     1. for loop 
     2. while

> # for loop 
    SYNTAX -->
     for var in (List/Tuple/String/Range) : 
        print(string)

> # while loop 
    syntax -->
    var initilization
    while expression : 
        print(string)
        increment / decrement  in veriable

# for loop example

In [1]:
f = ["banana" , "mango" ,"apple" ,"orange"]

###  the thing which is changeing give it name of a veriable 
+ f[0]
+ f[1]
+ f[2] 


+ so here only the index number is changing so we will give that number a variable

In [8]:
for i in range(0,4):
    print(f[i])

banana
mango
apple
orange

In [12]:
for i in f :  # is i is in the list f then print the i 
    print(i)

# "in" operator is used to find all the index numbers of the list

banana
mango
apple
orange

### type 2

In [14]:
for i in range(0,5): 
    print(i)

# range  " (0,n-1) " this will happen in the range function

0
1
2
3
4

In [15]:
for i in range(2,6): 
    print(i)

2
3
4
5

In [19]:
for i in range(0,11,2):  # (start , n-1 (end) , step_size)
    print(i)

0
2
4
6
8
10

### type 3

In [23]:
for i in range(0,4) :
    print(f[i])

    #f[0]
    #f[1]
    #f[2]
    #f[3]
    # all of these index number are iterate from the list

banana
mango
apple
orange

In [51]:
count = 0
for i in range(2,21,2) :
    count  +=  1

print(count)

10

In [37]:
for  i in range(1,21) :
    if i % 2 == 0 :
        if i != 0 :
            print(i)

2
4
6
8
10
12
14
16
18
20

## all the odd number from 51 to 100

In [54]:
count = 0
for i in range(51,100,2) :
    print(i)
    count += 1

print(f"the total size this odd numbers is {count}" )

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
the total size this odd numbers is 25

In [55]:
name = "om"

In [62]:
count = 0 
for i  in name : 
    print(i)
    count += 1
print( count)

o
m
2

# while loop Example

In [66]:
i = 1 # from where to start 
while( i <= 10): # upto what he need to travel 
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Q. all character from name

In [77]:
i = 0 
while (i < len(name)) :
    print(name[i])
    i += 1

o
m

### Q. numbers from 21 to 40

In [76]:
i = 21 
count = 0
while(i <= 40) :
    print(i)
    i += 1
    count += 1
print(f"the cout is {count}")

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
the cout is 20

## Q . print all even number lies between 1 to 20 using while loop

In [80]:
i = 1 
while i<=20 :
    if i % 2 == 0 :
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

## Q . print all the number from 1 to 20 in reverse ordre using while loop  and for loop

In [94]:
i = 20 
while i > 0 :
    print(i)
    i -= 1 # -1 will be added in the 20

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [95]:
for i in range(20,0,-1) : #  (start : end : steps in reverse order)
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

## table creation for any number

In [109]:
user_input = int(input("enter the number whose table you want"))
for i in range(1,11) :
    print(f"{user_input} x {i} = {user_input*i} ")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [107]:
user_input = int(input("enter the number whose table you want"))
n = 1
while n <= 10 :
    print(user_input*n)
    n =n+1

2
4
6
8
10
12
14
16
18
20