> # map 
    map(function , iterable )
    + for map we need function and iterable 
    + we can the parameter from the iterable

In [1]:
t = (2,4,6,8,10,25,6,9)
def mult(n) : 
    return 5 * n

In [2]:
y = map (mult, t)

In [3]:
print(list(y))

[10, 20, 30, 40, 50, 125, 30, 45]

###  map with lambda function (multiply 5 with all the list element )

In [6]:
y = list(map(lambda x : x*5,t))

In [7]:
y

[10, 20, 30, 40, 50, 125, 30, 45]

 
># zipp
    you can take both the elemetes index wise and display in the term of list dictonary

In [1]:
name = ["raj" ,"raj25", "gaurav"]
roll_number= [111,222,333]

In [2]:
zipped = zip(name ,roll_number)

In [3]:
print(list(zipped))

[('raj', 111), ('raj25', 222), ('gaurav', 333)]

In [4]:
name = ["raj" ,"raj25", "gaurav"]
roll_number= [111,222,333]
zipped = zip(name ,roll_number)
for i in list (zipped) :
    print(i)

('raj', 111)
('raj25', 222)
('gaurav', 333)

In [7]:
name = ["raj" ,"raj25", "gaurav"]
roll_number= [111,222,333]
zipped = zip(name ,roll_number)
o = dict(zipped)

In [8]:
print(o)

{'raj': 111, 'raj25': 222, 'gaurav': 333}

In [9]:
type(o)

dict

In [10]:
fruits = ("apple" ,"mango" , "kiwi" )
quentaty  = (50,6,23)

In [11]:
zipped4 = zip(fruits , quentaty)
dict(zipped4)

{'apple': 50, 'mango': 6, 'kiwi': 23}

In [21]:
x = ["a" ,"b" ,"c"]
y = [5,9,7]
z =["data" ,"science" ,"smith"]

In [22]:
zipped4 = zip(x,y,z)
list(zipped4)

[('a', 5, 'data'), ('b', 9, 'science'), ('c', 7, 'smith')]

In [23]:
x = ["a" ,[1,2,6] ,"c"]
y = [5,9,7]
z =["data" ,"science" ,"smith"]

In [24]:
zipped4 = zip(x,y,z)
list(zipped4)

[('a', 5, 'data'), ([1, 2, 6], 9, 'science'), ('c', 7, 'smith')]