> # local variable  -- we can use this only with in the single cell of ofr singel function

> # global variable -- we can use this in all over the noteboks

### local

In [1]:
# local variable 
def add (b) :
        a = 10 
        return a+b
add(5)

15

### global

In [6]:
# global variable 
a = 100
def add1(b) :
    
    return a+b
add1(5)

105

In [11]:
# over ride  the global value by local value element
a = 100
def add1(b) :
    a= 12
    
    return a+b
add1(5)

17
12

In [12]:
# local converted into global
a = 100
def add1(b) :
    global a
    a= 12
    
    return a+b
print(add1(5))
print(a)

17
12

### Q  .  what is the difference between local and global variable

In [13]:
for i in range(0,4) :
    print(i)

0
1
2
3

# Q all column and rowsw will be print

In [21]:
for i in range(1,5) :
    for j in range(1,5) :
        print("*" , end =" ")
    print(" ")

* * * *
* * * *
* * * *
* * * *

# j+1 how this is working

In [36]:
# i = rows , j = column
for i in range(1,5) :
    for j in range(i,j+1) :
        print("*" , end =" ")
    print(" ")

* * * *
* * *
* *
*

In [30]:
for i in range(5) :
    for j in range(1,i+1) :
        print("*" , end =" ")
    print(" ")

*
* *
* * *
* * * *

In [32]:
# i value give that values
for i in range(5) :
    for j in range(1,i+1) :
        print(i , end =" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4

In [34]:
# j value give that values
for i in range(5) :
    for j in range(1,i+1) :
        print(j , end =" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4

In [97]:

n=5
for i in range(1,5,-1):
    for j in range(i,n-i+1):
        print(j,end=" ")
    print("")

In [93]:
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end="")
    print(" ")

1
12
123
1234

## 2nd type

In [91]:
n = 5
for i in range(n,0,-1) :
    for j in range(1,i+1,1) :
        print(j , end =" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## 1st type of the pattern

In [102]:

n=5
for i in range(1,5):
    for j in range(1,n-i+1):
        print(j,end=" ")
    print(" ")

1 2 3 4
1 2 3
1 2
1

# triangle number  2 pattern (upper )

In [119]:

n= 5
for i in range(1,5) :
    for j in range(1,i) :
        print("#" , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    print(" ")

* * * *
# * * *
# # * *
# # # *

In [122]:
n= 5
for i in range(1,5) :
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    print(" ")

* * * *
  * * *
    * *
      *

In [123]:
n= 5
for i in range(1,5) :
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print(j , end = " ")
    print(" ")

1 2 3 4
  1 2 3
    1 2
      1

In [138]:
n= 5
for i in range(1,5) :
    for j in range(1,i) : # normal type of the condtion to form the figure
        print(" " , end =" ")
    for j in range(1,n-i+1) : # same as 1st condition type  
        print(i , end = " ")
    print(" ")

1 1 1 1
  2 2 2
    3 3
      4

In [137]:
n=5
for i in range(1,5):
    for j in range(1,n-i): # only change is -1 is changed with -i 
        print(" ",end=" ")
    for j in range(1,i+1) :
        print("*" ,end = " ")
    print(" ")

      *
    * *
  * * *
* * * *

# type 3 tringe fig

In [3]:
n=5
for i in range(1,5):
    for j in range(1,n-i): # only change is -1 is changed with -i 
        print(" ",end=" ")
    for j in range(1,i+1) :
        print("#" ,end = " ")
   

    for j in range(1, i ):
            print("#", end=" ")
    print(" ")

      #
    # # #
  # # # # #
# # # # # # #

# type  3 downward triangle 
combination of

In [37]:
for i in range(1,5) :
    # 1st combo
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    print(" ")

* * * *
  * * *
    * *
      *

In [34]:
# home work 
n= 5
for i in range(1,5) :
    # 1st combo
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    # 2nd combo 
    
    for j in range(1,n-i):
        print("*",end=" ")
    print(" ")

* * * * * * *
  * * * * *
    * * *
      *

# type 4  diamond

In [21]:
n=5
for i in range(1,n-1):
    for j in range(1,n-i): # only change is -1 is changed with -i 
        print(" ",end=" ")
    for j in range(1,i+1) :
        print("*" ,end = " ")
   

    for j in range(1, i ):
            print("*", end=" ")
    print(" ")


for i in range(1,5) :
    # 1st combo
        for j in range(1,i) :
            print(" " , end =" ")
        for j in range(1,n-i+1) :
            print("*" , end = " ")
        # 2nd combo 
        
        for j in range(1,n-i):
            print("*",end=" ")
        print(" ")

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

# type 5

In [7]:
n = 5
for i in range(1,n): # in n1 is not taken then it will be not pointed on the tip 
    for j in range(1,n-i): # only change is -1 is changed with -i 
        print(" ",end=" ")
    for j in range(1,i+1) :
        print("*" ,end = " ")
    print(" ")

      *
    * *
  * * *
* * * *

In [8]:
for i in range(1,5) :
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    print(" ")

* * * *
  * * *
    * *
      *

In [25]:
n= 5

for i in range(1,n-1): # in n1 is not taken then it will be not pointed on the tip 
    for j in range(1,n-i): # only change is -1 is changed with -i 
        print(" ",end=" ")
    for j in range(1,i+1) :
        print("*" ,end = " ")
    print(" ")
for i in range(1,5) :
    for j in range(1,i) :
        print(" " , end =" ")
    for j in range(1,n-i+1) :
        print("*" , end = " ")
    print(" ")

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [5]:
n=5
for i in range(n) :
    for j in range(1,i+1) :
        print("*" , end =" ")
    print(" ")

*
* *
* * *
* * * *

In [9]:
for i in range(1,5):
    for j in range(1,n-i+1):
        print("*",end=" ")
    print(" ")

* * * *
* * *
* *
*

In [28]:

n=5
for i in range(n-1) :
    for j in range(1,i+1) :
        print("*" , end =" ")
    print(" ")
for i in range(1,5):
    for j in range(1,n-i+1):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * *
* *
*