> # List
     1. it is a commnely used data type 
     2. it is ordered mutable(it means modified and iterable sequence of elements )
     3. list can be used to store the collection of items and these items can be of any dat type  
     4. list is defined in  [ ] and the items are seprated by ,

> # list ---> ordered , mutable , iterable

In [7]:
num = [ 12,13,14,15,16]
print(num)

[12, 13, 14, 15, 16]

In [8]:
fruits = ["Apple" , "oranges ","cheery"]

In [9]:
print(fruits)

['Apple', 'oranges ', 'cheery']

In [10]:
fruits[0][0]

'A'

In [11]:
fruits * 2

['Apple', 'oranges ', 'cheery', 'Apple', 'oranges ', 'cheery']

> # for more than one value if we are inserting the we need to give it as a list

In [13]:
fruits[1:] = "banana"

In [15]:
fruits # so it is orint seprately thats why

['Apple', 'b', 'a', 'n', 'a', 'n', 'a']

In [16]:
fruits[1:] = [ "banana" ]

In [17]:
fruits

['Apple', 'banana']

> # List  Methods

> ## append()
> + to add elements in the list

In [18]:
fruits.append("kiwi")

In [19]:
fruits

['Apple', 'banana', 'kiwi']

> ## extend()
> + appends elements from another list ot from another iterable to the end

In [20]:
fruits.extend(["oranges","watermelon"])

In [21]:
fruits

['Apple', 'banana', 'kiwi', 'oranges', 'watermelon']

In [22]:
fruits[1:]

['banana', 'kiwi', 'oranges', 'watermelon']

> # insert()
>

In [2]:
fruits = ["Apple" , "kiwi","cheery"]

In [38]:
x =  "mango"

In [39]:
fruits.insert(1,x)

In [40]:
fruits

['Apple', 'mango', 'kiwi', 'cheery']

>+ append  ---> 1 input
>+ extend  ---> 1 input
>+ insert  ---> more than 1 but that will be in nested list

> ## index()
> + return the index of first occuring

In [41]:
fruits.index("kiwi")

2

> ## count()
> + number of occurance of a value

In [42]:
l = [1,2,5,4,52,1,5,2,4,1,5,1,5,5,5,2,45,6,3,5,]

In [43]:
print(l.count(1))

4

In [44]:
print(l.count(2))

3

In [45]:
print(l.count(5))

7

In [46]:
print(l.count(45))

1

> ## sorted()
> + sorted(name_Of_list , reverse= true (dec))

In [50]:
print(sorted(l ,reverse= True))

[52, 45, 6, 5, 5, 5, 5, 5, 5, 5, 4, 4, 3, 2, 2, 2, 1, 1, 1, 1]

> ## reverse()

In [51]:
fruits.reverse()

In [52]:
fruits

['cheery', 'kiwi', 'mango', 'Apple']

> # pop()
> + string_name.pop(index_num)
>+ to remove any item from the list 
> + if no index is given then it will always take the last indexx

In [5]:
fruits.pop(0)

'Apple'

In [6]:
fruits.index("kiwi")

0

In [4]:
fruits

['Apple', 'kiwi', 'cheery']

> ## index 
+ to find the index number from any data set

> ## remove
string_nmme.remove()

> # diff of pop and remove
+ in remove it can take numeric as well as the inter values 
+ but the pop will only take the integer values for extraction

In [7]:
fruits.remove("cheery")

In [8]:
fruits

['kiwi']

In [15]:
marks = [20,34,12,54,67,56,89,56,25,45,7,5,5,78,78,93]

In [16]:
marks = sorted(marks)

In [17]:

marks[-1]

93

> ## max 
+ it will only work on same data type like(number, string)
+ it will not work on the lioast that has different data type
+ it treat false = 0 and true = 1 in this min max section

In [18]:
l= [2,"om"]

In [19]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [20]:
l = ["om","darkunde"]

In [21]:
max(l)

'om'

In [24]:
lo = [False , True , 56 ,56 ]

In [25]:
min(lo)

False