> # tuple
> ## a tuple is a data type that representes ordered imutable sequence of elements  
     similar to the list 
     ( ) this is used to create the tuple 
     tuples are an immutable data type that is there elements can not be chaged after they are generated 
     each elemet in the tuple has a specific order that will never change bucause the tuple is order sequence

> # diff of list and Tuple

> ## tuple can not be chaged or can not be modified once they are created

> ## single element tuple 
                            b =("om" , )

In [1]:
b = ("om", )
type(b)

tuple

In [2]:
t1 = ("Apple" , "oranges ","cheery")

In [3]:
type(t1)

tuple

In [4]:
t1[1]

'oranges '

In [5]:
t1+"om"

TypeError: can only concatenate tuple (not "str") to tuple

># type operation

> ## 1. Concatination

In [7]:
t1= (1,2,3,6,5)
t2 = ('a','b','c')

In [8]:
print(t1 + t2)

(1, 2, 3, 6, 5, 'a', 'b', 'c')

> # 2. Repetation

In [9]:
t1 * 12

(1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5,
 1,
 2,
 3,
 6,
 5)

> # Count
            it will return the number of occurance of specific value

In [11]:
t1 = (1,2,3,6,6,6,9,5,5,9,5,7,8,6,7,9,5,5)

In [16]:
t1.count(6)

4

> # index 
        tuple_name.index()

In [17]:
t1.index(6)

3

> # there could be no changes can not made on the tuples

In [18]:
t1.

TypeError: object.__format__() takes exactly one argument (0 given)

> # to make change in the tuple forcefully 
    then change the data type of the tuple in other data type and make changes and after that again change the data type into the tuple