># SET 
## set is a collection of unique and well defined elemets 
    set is created by using the { }
    set is unordered 
    set is mutable 
    set do not allows duplicate values

### empty sets

In [1]:
a = set()
print(type(a))

<class 'set'>

In [2]:
a = {1,2,3,6,5,6,9,10,12,566,866}

In [3]:
a

{1, 2, 3, 5, 6, 9, 10, 12, 566, 866}

In [5]:
fru = {"Apple" , "oranges ","cheery", "apple" , "grapes"}

In [6]:
fru

{'Apple', 'apple', 'cheery', 'grapes', 'oranges '}

In [7]:
l = ["om",  "chetan"]

In [8]:
x =set(l)

In [9]:
x

{'chetan', 'om'}

> ## add()
    set_name.add("value")

In [10]:
fru.add("pear")

> ## update()
    set_name.update("value")

In [15]:
x = {"watermelon" ,"563"}
fru.update(x)

In [16]:
fru

{'3',
 '5',
 '563',
 '6',
 'Apple',
 'a',
 'apple',
 'cheery',
 'e',
 'grapes',
 'l',
 'm',
 'n',
 'o',
 'oranges ',
 'pear',
 'r',
 't',
 'w',
 'watermelon'}

> ## remove()
    set_name.remove(name_of_item_to_remove)

In [18]:
fru.remove("watermelon")

> # len()
    len(set_name)

In [20]:
len(fru)

19

In [21]:
x1 = {1,2,3,4,5,2,4,2}
x2 = {1,3,5,6,7,8,9}

In [22]:
x1

{1, 2, 3, 4, 5}

In [23]:
x2

{1, 3, 5, 6, 7, 8, 9}

> ## Union()
    all distinct elemets from the given sets

In [24]:
x2.union(x1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

> ## intersection 
    common elemts of sets

In [25]:
x1.intersection(x2)

{1, 3, 5}

> ## difference 
    the elemets which are not common are shown

In [27]:
x1.difference(x2)

{2, 4}