> # string _practice

In [2]:
str23 = "it Vedant " 
str42 = "Data science"

In [9]:
str23[2:]

' Vedant '

In [10]:
str23[::-1] #reverse

' tnadeV ti'

In [11]:
str23 + str42

'it Vedant Data science'

In [14]:
str23 * 23

'it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant it Vedant '

In [18]:
str23[0::2] #odd number of charater  sclising

'i eat'

In [19]:
str23[1::2] # even number of charater slicing

'tVdn '

In [20]:
len(str42)

12

In [22]:
len(str23)

10

In [24]:
str23.upper()

'IT VEDANT '

In [25]:
str42.lower()

'data science'

In [26]:
str23.strip()

'it Vedant'

In [27]:
str42.title()

'Data Science'

In [28]:
str23.capitalize()

'It vedant '

In [29]:
str23.swapcase()

'IT vEDANT '

In [7]:
str42

'Data science'

In [9]:
str42.replace(" " , "Artificial inteliggence") # doubt  # for each word it will replace the word artificial intelligence

'DataArtificial inteliggencescience'

In [8]:
len(str42.replace("" , "Artificial inteligence"))

298

In [35]:
str42.isalpha()

False

In [36]:
str42.isalnum()

False

In [37]:
str23.isalnum()

False

In [38]:
str23

'it Vedant '

In [41]:
om = "1"

In [42]:
om.isalnum()

True

In [45]:
str23.startswith("e")

False

In [48]:
om.endswith("1")

True

In [53]:
str23.split("#")

['it Vedant ']

In [54]:
str23.split()

['it', 'Vedant']

In [59]:
"@".join(str42)

'D@a@t@a@ @s@c@i@e@n@c@e'

> # List

In [60]:
course = [ "Data science" , "artificial inteligence" , "machine learning" , "stastics" , "computer vision"]

In [61]:
course*2

['Data science',
 'artificial inteligence',
 'machine learning',
 'stastics',
 'computer vision',
 'Data science',
 'artificial inteligence',
 'machine learning',
 'stastics',
 'computer vision']

In [62]:
course.append("web technology")

In [63]:
course

['Data science',
 'artificial inteligence',
 'machine learning',
 'stastics',
 'computer vision',
 'web technology']

In [64]:
sub_course = ["big dta" , " aws "]

In [65]:
course.extend(sub_course)

In [66]:
course

['Data science',
 'artificial inteligence',
 'machine learning',
 'stastics',
 'computer vision',
 'web technology',
 'big dta',
 ' aws ']

In [67]:
x = "analyst"

In [68]:
course.insert(1,x)

In [69]:
course

['Data science',
 'analyst',
 'artificial inteligence',
 'machine learning',
 'stastics',
 'computer vision',
 'web technology',
 'big dta',
 ' aws ']

In [74]:
course.count("Data science")

1

In [79]:
sorted(course,reversed = True )

TypeError: 'reversed' is an invalid keyword argument for sort()

In [80]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
sorted(a,reverse=True)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [77]:
course.reverse()

In [78]:
course

[' aws ',
 'big dta',
 'web technology',
 'computer vision',
 'stastics',
 'machine learning',
 'artificial inteligence',
 'analyst',
 'Data science']

# dicctionary

In [3]:
y = {"name" : "om" , "height" : "170cm" , "weight" : "73"}

In [5]:
y["name"]

'om'

In [6]:
y["gender"] = "male"

In [7]:
y

{'name': 'om', 'height': '170cm', 'weight': '73', 'gender': 'male'}

In [8]:
x = y.get("height")

In [9]:
x

'170cm'

In [11]:
y.keys()

dict_keys(['name', 'height', 'weight', 'gender'])

In [12]:
y.values()

dict_values(['om', '170cm', '73', 'male'])

In [13]:
y.items()

dict_items([('name', 'om'), ('height', '170cm'), ('weight', '73'), ('gender', 'male')])

In [14]:
y.popitem()

('gender', 'male')

In [15]:
x = { "address" : "ahmednagr", "degree" : "btech"}

In [16]:
y.update(x)

In [17]:
y

{'name': 'om',
 'height': '170cm',
 'weight': '73',
 'address': 'ahmednagr',
 'degree': 'btech'}

# Tuple

In [21]:
info23 = ("om" , "170cm", 73)
info2 = ("omkar" , "15cm", 53)

In [22]:
info23 + info2

('om', '170cm', 73, 'omkar', '15cm', 53)

In [24]:
info23 *  12

('om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73,
 'om',
 '170cm',
 73)

In [27]:
info.count(73)

1

In [29]:
info23.index(73)

2

# sets

In [30]:
a = { 1,2,5,6,9,8,9,8}

In [31]:
a.add(2)

In [32]:
x = { 4,5,6,9,5}

In [33]:
a.update(x)

In [34]:
a

{1, 2, 4, 5, 6, 8, 9}

In [35]:
a.remove(2)

In [36]:
len(a)

6

In [10]:
o = "om "

In [11]:
int(o)

ValueError: invalid literal for int() with base 10: 'om '

In [12]:
 s = "1235" # type conversion dont work on the

In [13]:
int(s)

1235

In [14]:
a= 2
b=2

In [15]:
print(f"{a} , {a} , {b+a}")

2 , 2 , 4