 ># Q.1  write a python program to swap frist last element of the list
    logic --->  a , b = b,a

In [10]:
a ,b = b,a

In [11]:
l = [1,2,3,6,4,5,9]

In [14]:
l[0],l[-1] = l[-1] , l[0]

In [13]:
l

[9, 2, 3, 6, 4, 5, 1]

> # Q. 2 find the maximum number from 2 numeber

In [16]:
a = int(input("enter a number"))
b = int(input("enter a number"))

if a > b :
    print(f"a is max {a}")
else : 
    print(f"b is max {b}")

b is max 456

> # Q. 3 find the maximum number from the three numbers

In [23]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))

if a>b and a>c:
    print(f"a is max {a}")
elif b>a and b>c :
    print(f"b is max {b}") 
else : 
    print(f"c is max {c}")

c is max 6669

> # Q 4. print all words with even length in the given string" This is a python Language"

In [52]:
l = "This is a python Language"

In [55]:
x = l.split(" ")
for i in x:
    if len(i)%2==0 :
        print(i)

This
is
python
Language

> # Q.4 Find the sum and average of the list

In [58]:

l = [12,8,7,5,3,4,2]

In [71]:
sum = 0
for i in l :
    sum = (sum+i)
print(sum)

41

In [72]:
m = 0
for i in l :
    avg= (m+i) / len(l)
print(avg)

0.2857142857142857

> # Q5. count the number of occurance of x in given list

In [22]:
def count_self (list , x) : # direct list name 
    count1 = 0 
    for i in list : 
        if x  == i : 
             count1 = count1 + 1
    return count1

In [25]:
def count_self (list , x) :  # with out indexing  (membership operator) char to char 
    count1 = 0 
    for i in range(len(list)) : 
        if x  == list[i] : 
             count1 = count1 + 1
    return count1

In [23]:
list = [1,2,5,6,9,8,5,6,9,7,4]

In [24]:
count_self(list ,6)

2

> # Q6. Multiply all number in the list

In [32]:
l = [12,5,7,9,10,8]

In [33]:
def multiply_self(list) :
    mul = 1
    for i in list :
        mul = i * mul
    return mul

In [34]:
multiply_self( [12,5,7,9,10,8])

302400

In [35]:
multiply_self([1,1])

1

> # Q.7  find the mimimum list element for a user defined list

In [36]:
l = [12,5,7,9,10,8]

In [49]:
def maximun_self(List) :
    min1 = 0
    for i in List : 
        if i >  min1 :
            min1 = i
    return min1

In [50]:
maximun_self([12,5,7,9,10,8])

12

In [47]:
def minimum_self(List) :
    list = sorted(List,reverse= True)
    min1 = list[-1]
    return min1

dont use the sorted one and fond the answer  home work

In [48]:
minimum_self([12,5,7,9,10,8])

5

> # Q.8 find the second largest number in given list

In [51]:
def second_large_self(List) :
    list = sorted(List)
    sec = list[1]
    return sec

In [52]:
second_large_self([12,5,7,9,10,8])

7

> # Q.9 find the all the even numbers from the given list

In [53]:
def even_num(list) :
    EVEN_NUM = []
    for i in list :
        if i % 2 == 0 :
            EVEN_NUM.append(i) 
    return EVEN_NUM

In [54]:
even_num([12,5,7,9,10,8])

[12, 10, 8]

In [1]:
l = [12,5,7,9,10,8]

In [2]:
def minimum_self(List) :
    list = sorted(List,reverse= True)
    min1 = list[-1]
    return min1

In [3]:
sorted(l , reverse=True)

[12, 10, 9, 8, 7, 5]

In [26]:
def sorting_self(l) :
    for i in (l) :
        for j in (i+1 ,l) :
            if l[i] > l[j] :
                temp = l[i]
                l[i] = l[j]
                l[j] = temp
    for i in range[l] :
        list = print(l[i] ,end=" ")
    return list

In [23]:
for i in range(0,5) :
    print(i)

0
1
2
3
4

In [27]:
sorting_self([10,20,23,5,8])

IndexError: list index out of range

> # Q find the minimum element with out any in built function

In [1]:
def self_sorting2() :
        n = int(input("enter how many elements do you want in your list "))
        l = []
        for i in range(n) :
            ele =  int(input("enter the number"))
            l.append(ele)
        for i in range(n) :
                for j in range(i+1,n):
                    if l[i] > l[j] :
                        temp = l[i]
                        l[i] = l[j]
                        l[j] = temp
        list= []
        for i in range(n) :
             list.append(l[i])
        return list

In [58]:
def minimum_self() :
    list = self_sorting2()
    min1 = list[1]
    return min1

In [59]:
minimum_self()

69

In [67]:
def minimum_self(list) :
    
    for i in range(list) :
                for j in range(i+1,list):
                    if list[i] > list[j] :
                        temp = list[i]
                        list[i] = list[j]
                        list[j] = temp
    list2= []
    for i in range(n) :
        list2.append(list[i])
    
    min1 = list2[1]
    return min1

In [68]:
minimum_self([10,5,6,7])

TypeError: 'list' object cannot be interpreted as an integer

In [65]:
list = [2,5,6,9]

> # Q . write a function to find our cube of a number

In [4]:
def square_self (a) :
    result = a**2 
    print(f"sqare of {a} is : ")
    return result

In [5]:
square_self(2)

sqare of 2 is :

4

 > #  Q . write a function to find square of each element preseent in the given list

In [18]:
def sqaure_list (a) :
    sqr = []
    for i in a :
        result = i**2
        sqr.append(result)
    return sqr

In [19]:
a = [2,3,6,]

In [20]:
sqaure_list(a)

[4, 9, 36]

In [43]:
l = [2,6,5,8,9]
ans = []
for i in l :
    if i % 2 == 0:
        even = i
        ans.append(even)
print(ans)

[2, 6, 8]

In [44]:
even_sel  = lambda x :  x % 2 == 0

In [45]:
even_sel([2,3,6])

TypeError: unsupported operand type(s) for %: 'list' and 'int'

# sum of all number from the list

In [5]:
l = [5,6,9,8,7]
sum = 0 
for i in l :
    sum= sum +i 
print(sum)

35

In [7]:
for i in range(2 , 101 ,2) :
    print(i , end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# lambda function to give double of a number

In [8]:
x = lambda x : x*2

In [10]:
x(5)

10

In [11]:
area = lambda l,b : l*b

In [12]:
area(5,6)

30

# lambda function to filter our negative number from a list

# why if else is not required in this question

In [101]:

l = [1,5,6,9,-5]
negative = list(filter(lambda o : o < 0, l))
print(negative)

[-5]

In [56]:
l = [1,5,6,9,-5]
negative = filter (lambda c : "negative" if c[l] < 0 else "positive",l)

for i in range(li)  :
    print(negative[i])

TypeError: 'int' object is not subscriptable

In [15]:

negative(l)

'positive'

In [33]:
a = 0
b = 1 
    print(a)
    print(b)
    for i in range(2,10) :
        c = a+b 
        a = b
        b = c
        print(c)

0
1
1
2
3
5
8
13
21
34

In [32]:
fibo(10)

0
1
1
2
3
5
8
13
21
34

In [35]:
a = 0
b = 1 
c = a+b 
a = b 
b = c 
print(a,b,c)

1 1 1

In [39]:
str = "it vedant"
vow = "aeiouAEIOU"
for i in  str :
    if i in vow :
        print(i)
        
    else : 
        pass

i
e
a

In [59]:
l = [1,5,6,9,-5]
negative = filter (lambda c : "negative" if c[l] < 0 else "positive",l)

for i in negative  :
    print(i)

TypeError: 'int' object is not subscriptable

In [62]:
def flatten_extend(matrix):
    flat_list = []
    for row in matrix:
            flat_list.extend(row)
    return flat_list

In [63]:
flatten_extend([2,[2,5,6],6])

TypeError: 'int' object is not iterable

# convert nested list into simple list

In [71]:
def convert_list (lis) :
    lis = list(lis)
   
    em = []

    for i in l :
        em.extend(i)
    return(em)

In [72]:
convert_list([1,2,3,(5,6)])

['p', 'm', 'om', 'darkunde']

In [102]:
def convert_list (lis) :
    lis = list(lis)
   
    nm = []

    for i in l :
        nm.extend(i)
    return nm

In [103]:
convert_list(["hard",["word"]])

TypeError: 'int' object is not iterable

In [108]:
lis = ["om" ,["darkunde"]]
nm = []

for i in lis :
        nm.append(i)
print(nm)

['om', ['darkunde']]

In [84]:
stu = input("enter a string")

l =list(stu) 
freq = [l.count(ele) for i in ele]
print(freq)

NameError: name 'ele' is not defined

In [85]:
string = "om darkunde"

# count the occurance of charater ignoring space

In [95]:
def count_char(string) : 


    for i in string :
        if i == " " :
            continue

        print(f"{i} =", end = " ")
        print(string.count(i))

In [96]:
count_char("it vedant")

i = 1
t = 2
v = 1
e = 1
d = 1
a = 1
n = 1
t = 2